html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee9de;
  line-height: 1.5rem;
  font-family: Lato, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  padding: .5em 0;
  display: block;
  text-align: center;
  margin: 1.5rem 0;
}

h2 {
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  display: block;
  color: #333;
  font-family: lato, sans-serif;
  margin: 0;
}

div {
  position: relative;
  display: inline-block;
  padding: 1em;
  min-width: 300px;
  max-width: 25em;
  vertical-align: middle;
}

.paragraph {
  text-align: left;
}

.picture img {
  display: inline-block;
  max-width: 100%;
}

p {
  padding: .5em 0;
}

.btn {
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  border: 3px solid #000;
  background-color: #eee9de;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

.paragraph nav {
  font-size: 1em;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

.picture a {
  margin-bottom: 1.5rem;
  display: inline-block;
  padding: .75em;
  border-radius: 10px;
  font-family: sans-serif;
  border-style: solid;
  color: #333;
  border-color: #333;
  background-color: #eee9de;
  outline-offset: 2px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
